New Unity Project/Library/PackageCache
New Unity Project/Library/ShaderCache
New Unity Project/Library/Artifacts
New Unity Project/Temp
New Unity Project/Assets/.idea
New Unity Project/Logs
New Unity Project/Library/StateCache
